body {
    font-family: 'Inter', sans-serif;
    line-height: 1.5; 
    padding: 0px;
    background-color: #f4f4f4;
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Inter', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: 400;
}

.center {
  text-align: center;
  border: 3px solid green;
}

nav ul li, footer ul li {
    font-family:'Inter', sans-serif;
    display: inline;
    margin-left: 0px;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-family:'Inter', sans-serif;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    margin-bottom: 5px;
}

h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul {
      list-style-type: none;
      padding-left: 20px;
      margin-bottom: 10px;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.section {
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      margin-bottom: 20px;
 }
